.about {
  * {
    width: 100%;
  }

  img {
    width: 100%;
    max-width: 10rem;
    // max-height: 80vh;
    padding: 0 $gmd $gsm 0;
    float: left;

    @include media {
      width: 100%;
    }
  }

  h2 {
    margin: 0 0 $gmd;
  }

  p {
    margin: 0 0 $gmd;
  }
}
