.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  * {
    width: 100%;
  }

  img {
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
    margin: 0 0 $gsm;
  }

  h2 {
    margin: $gmd 0 $gsm;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin: $gsm 0;
  }
}
