.ethics-of-ai {
  @include flex($jc: flex-end, $ai: flex-start);
  flex-direction: column;

  .post-preview {
    width: 100%;
    border-top: $border;
    border-bottom: $border;
    height: auto;
    padding: $gsm;
    margin: $gsm 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.25s;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .continue {
      font-size: $xsm;
      position: absolute;
      bottom: 0;
      right: $gsm;
      opacity: 0;

      &.is--active {
        opacity: 1;
      }
    }

    .preview {
      max-height: 0;
      transition: all 0.25s;
      font-size: $sm;
      overflow: hidden;
      white-space: pre-wrap;
      opacity: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h2,
      p {
        margin: $gsm 0;
        width: 100%;
      }

      img {
        padding: $gsm;
      }

      &.is--active {
        max-height: 24rem;
        margin: $gxlg 0;
        opacity: 1;
      }
    }

    &:hover {
      padding-bottom: $glg;
    }

    &.is--active {
      &:hover {
        padding-bottom: $gsm;
      }
    }
  }
}
