.music {
  .events {
    border-bottom: $border;
    border-top: $border;
    padding: $gmd 0;
    margin-bottom: $glg;
    width: 100%;

    &:hover {
      * {
        color: $black;
      }
    }

    .events-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: $gsm;

      h3 {
        width: fit-content;
        margin-right: auto;
      }

      p {
        font-size: $xsm;
        display: inline;

        a {
          font-size: inherit;
        }
      }
    }

    .events-list {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;

      .event {
        margin-right: $gxlg;

        a {
          font-size: $sm;
          margin-right: $gsm;
        }

        p {
          display: inline;
          font-size: $xsm;
        }
      }
    }
  }

  .release {
    padding: $gmd 0;
    margin-bottom: $glg;
    border-top: $border;
    border-bottom: $border;

    .info {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: $gxsm;

        p {
          display: block;
        }
      }

      .bottom {
        margin-bottom: $gxsm;
      }
    }

    iframe {
      border-radius: 5px;
    }
  }
}
