nav {
  position: fixed;
  top: $height-header;
  height: 100%;
  width: $width-nav;
  max-width: $width-nav;
  padding: $gmd $padding-nav 0 0;

  h3 {
    margin: 0 0 $glg 0;
    font-weight: $thin;
  }

  a {
    width: fit-content;
    display: block;
    font-size: $sm;

    &.disabled {
      text-decoration: underline;
    }
  }

  p {
    margin-top: 1.5rem;
  }

  @include media {
    min-width: 50vw;
    max-width: 100vw;
    z-index: 1000;
    background-color: $white;
    transition: all 0.25s;
    left: -100%;
    padding-left: $gmd;

    &.is--open {
      left: 0;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    margin-top: $gmd;

    .icon {
      width: $sm;
      margin-right: $gsm;
    }
  }
}
