@use "sass:map";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  letter-spacing: -0.03rem;
  background-color: $white;
  color: $black;
  font-weight: $regular;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@each $k, $v in $font-sizes {
  .--#{$k} {
    font-size: $v;
    font-weight: $regular;
    margin: 0;
  }
}

@each $k, $v in $header-sizes {
  #{$k} {
    font-size: $v;
    font-weight: $regular;
    margin: 0;
  }
}

@each $k, $v in $font-weights {
  .#{$k} {
    font-weight: $v;
  }
}

.--italic {
  font-style: italic;
}

.--muted {
  opacity: $transluscent;
}

a {
  color: black;
  text-decoration: none;
  font-weight: $thick;
  transition: all 0.15s;
  font-size: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.palette {
  display: flex;

  .circle {
    content: " ";
    border-radius: 1000px;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: $gxsm;
    border: 1px solid black;
  }

  &.vertical {
    flex-direction: column;

    .circle {
      margin-left: 0;
      margin-bottom: $gxsm;
    }
  }
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: $border;
  outline: none;
  font-family: $font-family;
  resize: none;
  font-size: $md;

  &::placeholder {
    color: $black;
    @extend .--muted;
  }
}

.page-not-found {
  width: 100%;
  height: 100%;
  @include flex($fd: column);
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
